fastapi==0.115.6
uvicorn[standard]==0.34.0
psycopg[binary]==3.2.3
requests==2.32.3
geographiclib==2.0
pandas==2.2.3
jsonschema==4.26.0
sqlalchemy==2.0.41
geoalchemy2==0.17.1
numpy==2.2.3
rasterio==1.4.3
